body {
    font-family: "JetBrains Mono", monospace;
}
#navbar-settings {
    font-size: 1.5rem;
}
nav {
    background-color: #ad8b73;
}
footer {
    background-color: #ad8b73;
    color: white;
    text-align: center;
}