body {
  font-family: "JetBrains Mono", monospace;
}
#interface {
  background-color: #fffbe9;
  min-height: 100vh;
  font-size: 1.3rem;
}
#exp-title {
  font-weight: bold;
  font-size: 1.5rem;
}
#navbar-settings {
  font-size: 1.5rem;
}
#score {
  margin-right: 2rem;
}
#nav-help:hover {
  animation-name: button-outline;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
nav {
  background-color: #ad8b73;
}
#pallete {
  background-color: #e3caa5;
}
#properties {
  background-color: #e3caa5;
}
#properties button {
  margin-top: 0.5rem;
  width: fit-content;
}
.list-group-item {
  background-color: #fffbe9;
  margin-top: 0.5rem;
  border: thin solid black !important;
  border-radius: 0.5rem !important;
  text-align: center;
}
.panel-title > a {
  color: white;
  text-decoration: none;
}
.panel-title > button:hover {
  color: #b6b6b6;
}
.bordered-box {
  border-left: 0.5em solid red;
  padding-left: 1em;
}
.alert {
  margin-top: 20px;
  justify-content: center;
}
.accordion-button:not(.collapsed) {
  background-color: #fffbe9;
  font-weight: bold;
  color: black;
}
.accordion-button:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem #ad8b73;
}
.btn:active {
  background-color: rgba(255, 255, 0, 0.3);
}
.selectable {
  border: none;
}
.highlight {
  background-color: #e3caa5;
}
.error_block {
  background-color: red;
}
.btn-custom-outline-brown {
  border: 0.1rem solid black;
}
.btn-custom-outline-brown:hover {
  animation-name: button-outline;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
.btn-custom-outline-brown:disabled {
  color: grey;
}
@keyframes button-outline {
  from {
    background-color: inherit;
    color: black;
  }
  to {
    background-color: #ad8b73;
    color: white;
  }
}
#drop-box {
  background-color: white;
  height: 5rem;
  text-align: center;

}
#drop-box span{
  opacity: 0.5;
}
#INPUT-BLOCK{
  padding: 0 50px;
}
#TEST-OUTPUT{
  background-color: wheat;
  padding: 10px 50px;
}
#OUTPUT-CONSOLE{
  background-color: white;
  /* border-radius: 0.5rem; */
  margin: 1rem 0;
  min-height: 15rem;
  /* width: 10rem; */
  /* max-width: 12rem; */
  /* max-height: 300px; */
  /* overflow-y: scroll; */
  /* overflow-x: auto; */
}
.details {
  display: none;
}

.matinps input {
  /* width: 100%; */
  /* max-width: 100%; */
  max-width: 100px;
  /* background-color: aquamarine; */
}
.accordion-item {
  border-color: black !important;
}
.accordion-body {
  background-color: #e3caa5;
}
.accordion-button {
  background-color: #e3caa5;
}
footer {
  background-color: #ad8b73;
  color: white;
  text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
}

#help{
  text-decoration: none; color:black;
}


#help:hover{
  color: white !important;
  transition: all 0.2s;
}