body{
    background-color: #012943;
}
.heading{
    color: black;
    font-family: "Times New Roman";

}
.headingBackGround{
    background-color: #DAEAF5;
    border-radius: 5px;
}
@media screen and (max-width : 320px)
{
  body or yourdiv element
  {
    font:20px;
  }
}
@media screen and (max-width : 1204px)
{
  body or yourdiv element
  {
    font:10px;
  }
}