.list-group-item{
    border: black solid;
}
.panel-title>a{
    color: white;
    text-decoration: none;
}
.panel-title>button:hover{
    color:#b6b6b6;
}
.bordered-box{
    border-left: 0.5em solid transparent;
    padding-left: 1em;
}
.alert{
    margin-top: 20px;
    justify-content: center;
}
.btn{

    border-radius: 20px;
    margin-top: 40px;
    margin-left: 85px;
}
.btn:active{

    background-color: rgba(255,255,0,0.3);
    
}
.selectable{
    /* border:none; */
    /* background-color: violet; */
    border: none;
}
.highlight{
    background-color: violet;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}