.list-group-item{
    border: black solid;
}
.panel-title>a{
    color: white;
    text-decoration: none;
}
.panel-title>button:hover{
    color:#b6b6b6;
}
.bordered-box{
    border-left: 0.5em solid red;
    padding-left: 1em;
}
.alert{
    margin-top: 20px;
    justify-content: center;
}

.btn:active{
    background-color: rgba(255,255,0,0.3);
}
.selectable{
    /* border:none; */
    /* background-color: violet; */
    border: none;
}
.highlight{
    background-color: violet;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
}


.btn-group{

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    position: relative;
    left: 50%;
    /* left: 90px; */
    transform: translateX(-50%);
    /* background-color: rgba(221,160,221, 0.7);  */
    /* flex-wrap: wrap; */
}
.btn-group button{
    margin: 1rem 0;
}

#upbtn{
    border-radius: 0%;
}


#drop-box{
    background-color: white;
    height: 5rem;
    /* margin-top: 20px; */
}

.details{
    display: none;
}

.matinps input{
    /* width: 100%; */
    /* max-width: 100%; */
    max-width: 100px;
    /* background-color: aquamarine; */
}